* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 1200px;
    margin: 50px auto;
}

header {
    text-align: center;
    padding-bottom: 30px;
}

h1 {
    color: #e4336e;
    font-weight: 900;
    padding-bottom: 30px;
}

.float-left {
    float: left
}

.card {
    width: 350px;
    height: 115px;
    background-color: black;
    color: white;
    margin: 25px;
    box-shadow: 3px 3px 3px 3px #23222219;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.pro-pic {
    width: 115px;
}

.nomi {
    padding-top: 10px;
    padding-left: 130px;
    font-size: larger;
    font-weight: bolder;
}

.prof {
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 130px;

}

.mail {
    padding-left: 130px;
}

a {
    color: rgba(13, 181, 237, 0.995)
}